* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding {
  padding: 1rem;
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
}

.blue, .white, .green, .orange, body {
  border: 1px solid black;
}

.blue { background: #c6d9f1; }
.white { background: white; }
.orange { background: #fde9d9; }
.green { background: #eaf1dd; }

ul, ol {
  list-style-position: inside;
}

p, li, a {
  text-indent: 1.5rem;
}

img {
  width: 400px;
}

table {
  border-spacing: 0;
  height: calc(100vh - 2px);
}

.align-end {
  text-align: right;
}

.margin {
  margin: 1rem;
}

.nav {
  width: 25%;
}

.article-left {
  width: calc(60% * 0.75);
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.set-height {
  height: 100%;
}